.navbar {
  background-color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
  background-color: #000;
}

.site-footer {
  background-color: white;
  padding: 20px 0;
}

html {
  background-color: #000;
}

p,
h1,
h2,
h3 {
  color: white;
}

.page-wrap {
  background: black;
}
